{
  "root": true,
  "parserOptions": {
    "project": "./client/tsconfig.json"
  },
  "plugins": ["@typeofweb"],
  "extends": ["react-app", "plugin:@typeofweb/recommended"],
  "rules": {
    "@typeofweb/capitalize-modules": "off",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ]
  }
}
