{
	"root": true,
	"parserOptions": {
		"project": "frontend/tsconfig.json"
	},
	"plugins": ["@typeofweb"],
	"extends": ["plugin:@typeofweb/recommended"],
	"rules": {
		"@typeofweb/capitalize-modules": "off"
	}
}
