{
  "root": true,
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typeofweb"],
  "extends": ["next/core-web-vitals", "plugin:@typeofweb/recommended"],
  "rules": {
    "@typeofweb/capitalize-modules": "off",
    "import/no-default-export": 0,
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["next.config.js"],
      "rules": {
        "unicorn/prefer-module": 0
      }
    }
  ]
}
