.btn {
  display: block;
  padding: 0.75em 1.5em;
  margin: 1em 0;
  font-size: 1rem;
  background-color: var(--clr-accent);
  border-radius: var(--br);
  color: #fff;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--clr-accent-hover);
  }

  &:focus {
    outline: none;
    background-color: var(--clr-accent-hover);
  }
}
