.error {
	margin: -0.75em 0 1em;
	font-size: clamp(0.75rem, 3vw, 0.9rem);
	text-align: right;
	color: var(--clr-accent);
	animation: slide 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateX(-1000px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
