.info {
	font-size: clamp(0.9rem, 3vw, 1.25rem);
}

.signin {
	position: relative;
	display: inline-block;
	margin-top: 0.5em;
	font-size: clamp(1.125rem, 3vw, 1.25rem);
	color: var(--clr-accent);
	transition: color 0.3s;
	background: none;
	&:hover {
		color: var(--clr-accent-hover);

		&::before {
			width: 100%;
		}
	}

	&::before {
		content: '';
		position: absolute;
		height: 2px;
		width: 0;
		left: 0;
		bottom: -0.5em;
		background-color: var(--clr-accent-hover);
		transition: width 0.3s;
	}
}
