{
  "root": true,
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./server/tsconfig.json"
  },
  "plugins": ["@typeofweb"],
  "extends": ["plugin:@typeofweb/recommended"],
  "rules": {
    "@typeofweb/capitalize-modules": "off"
  },
  "ignorePatterns": ["dist/*"]
}
