.welcome {
  text-align: center;
  margin-bottom: -0.5em;
}

.username {
  display: block;
  text-align: center;
  margin: 1em 0;
  color: var(--clr-accent);
}

.center {
  text-align: center;
}

.btn {
  width: 100%;
}
